@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-black text-center text-warning">
    <h1>Welcome to the Home Page!</h1>
    <p>Hello world</p>
</div>
<a asp-controller="Home" asp-action="Privacy">Privacy</a>