@{
    ViewData["Title"] = "Register";
}
@model RegisterModel

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">

            <div class="col-md-9 col-lg-6 col-xl-5">
                <div id="carCarousel" class="carousel slide" data-bs-ride="carousel">
                    <!-- Hình ảnh xe hơi -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/img/caro-1.webp" class="d-block w-100" alt="Lap1" />
                        </div>
                        <div class="carousel-item">
                            <img src="~/img/caro-2.webp" class="d-block w-100" alt="Lap2" />
                        </div>
                        <div class="carousel-item">
                            <img src="~/img/caro-3.webp" class="d-block w-100" alt="Lap3" />
                        </div>
                    </div>
                    <!-- Nút chuyển trang -->
                    <a class="carousel-control-prev" href="#carCarousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon " aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carCarousel" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
            <style>
                /* Add this style to your existing CSS or in a style tag in the head of your HTML file */
                .carousel-control-prev-icon,
                .carousel-control-next-icon {
                    background-color: #000;
                    /* Set the background color to black */
                    color: #fff;
                    /* Set the arrow color to white */
                }
            </style>

            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                    <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                    <ul class="list-unstyled small text-muted">
                        <li>
                            <div class="mt-4 text-white">
                                <i class="fa-brands fa-square-facebook border border-black bg-black p-2 mt-1 fs-3"></i>
                                <i class="fa-brands fa-google border border-black bg-black p-2 mt-1 fs-3"></i>
                                <i class="fa-brands fa-twitter border border-black bg-black p-2 mt-1 fs-3"></i>
                            </div>
                        </li>
                    </ul>
                </div>

                <p id="errorMessage" class="text-center text-success">@ViewBag.SuccessMessage</p>
                <form asp-action="SignUp" asp-controller="Auth" method="post">
                    <div class="form-outline mb-4">
                        <input id="UserName" name="UserName" type="text" placeholder="Username"
                            class="form-control form-control-lg" />
                    </div>
                    <div class="form-outline mb-4">
                        <input id="Email" name="Email" type="email" placeholder="Email"
                            class="form-control form-control-lg" onChange="setEmail(this.value)" />
                    </div>
                    <div class="form-outline mb-3">
                        <input id="Password" name="Password" type="password" placeholder="Enter password"
                            class="form-control form-control-lg" onChange="setPassword(this.value)" />
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Tạo tài khoản</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account?
                            <a href="/auth/login" class="text-danger">Login</a>
                        </p>
                    </div>
                </form>









            </div>
        </div>
    </div>
</section>

@* @section scripts {
<script>
document.getElementById("registerForm").addEventListener("submit", function (event) {
event.preventDefault();

const username = document.getElementById('txtUserName').value;
const email = document.getElementById('txtEmail').value;
const password = document.getElementById('txtPassWord').value;

const data = new FormData();
data.append('UserName', username);
data.append('Email', email);
data.append('Password', password);

fetch('/api/Account/Register', {
method: 'POST',
body: data,
})
.then(response => {
if (!response.ok) {
throw new Error('Network response was not ok');
}
return response.json();
})
.then(data => {
// Thay đổi nội dung của thẻ <p> dựa trên phản hồi từ API
const messageElement = document.getElementById('errorMessage');
if (messageElement) {
messageElement.innerHTML = data.message; // Giả sử API trả về một thuộc tính 'message'
}
})
.catch(error => {
console.error('There has been a problem with your fetch operation:', error);
});
});
</script>
} *@



<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }

    .h-custom {
        height: calc(100% - 73px);
    }
</style>
