################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/D/FileContentIndex/4a033dc1-d809-4f4d-a712-31941f94f046.vsidx
