@model List<Laptop>

@{
    ViewData["Title"] = "Home Page";
}
<section class="container py-5">
    <div class="row gy-4">
        @foreach (var laptop in Model)
        {
            <partial name="LaptopSummary" model="laptop" />
        }
    </div>
</section>

