@model List<Laptop>

@{
    ViewData["Title"] = "Home Page";
}

<table>
    <tr>
        <th>Ten Laptop</th>
        <th>Gia</th>
        <th>Img</th>
        <th>mm  </th>
        <!-- Các cột khác -->
    </tr>
    @foreach (var laptop in Model)
    {
        <tr>
            <td>@laptop.tenLaptop</td>
            <td>@laptop.gia</td>
            <td>@laptop.imgPath</td>
            <td>
                <img src=http://localhost:4000/@laptop.imgPath />
            </td>
            <!-- Các cột khác -->
        </tr>
    }
</table>