@{
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
    ViewData["Title"] = "Admin - Settings - Authority";
}
<div class="" id="main" style="position: absolute;">

    <div class="row ">
        <div class="col-4">
            <h1 class="">Quản trị</h1>

            <div class="col ">
                <div class="form-group">
                    <label for="employeeSelect">Chọn nhân viên:</label>
                    <select class="form-control" id="employeeSelect">
                        <option value="1">Nhân viên A</option>
                        <option value="2">Nhân viên B</option>
                        <option value="3">Nhân viên C</option>
                        <!-- Thêm các lựa chọn khác tương ứng với các nhân viên khác -->
                    </select>
                </div>
            </div>

            <div class="form-group mt-4">
                <label for="roleSelect">Chọn phân quyền nhanh:</label>
                <select class="form-control" id="roleSelect">
                    <option value="employee">Nhân viên đóng hàng</option>
                    <option value="manager">Nhân viên quản lí</option>
                    <option value="storekeeper">Nhân viên kho</option>
                    <option value="financial">Nhân viên tài chính</option>
                    <option value="admin">Admin</option>
                    <!-- Thêm các lựa chọn khác tương ứng với các vai trò khác -->
                </select>
            </div>

        </div>

        <div class="col-8">
            <div class="row">
                <div class="col-6">
                    <a class="text-decoration-none text-black d-flex justify-content-between fs-5 fw-bold">
                        <span>Quyền quản lí sản phẩm</span>
                    </a>
                    <hr>
                    <div class="row">
                        <div class="form-check form-switch fs-6 col">
                            <input class="form-check-input" type="checkbox" id="EditorCheckbox1">
                            <label class="form-check-label" for="EditorCheckbox1">Xem</label>
                        </div>
                        <div class="form-check form-switch fs-6 col">
                            <input class="form-check-input" type="checkbox" id="EditorCheckbox2" checked>
                            <label class="form-check-label" for="EditorCheckbox2">Thêm</label>
                        </div>
                      

                    </div>
                    <div class="row">
                         <div class="form-check form-switch fs-6 col">
                            <input class="form-check-input" type="checkbox" id="EditorCheckbox3">
                            <label class="form-check-label" for="EditorCheckbox3">Sửa </label>
                        </div>
                        <div class="form-check form-switch fs-6 col">
                            <input class="form-check-input" type="checkbox" id="EditorCheckbox4">
                            <label class="form-check-label" for="EditorCheckbox4">Xóa</label>
                        </div>
                    </div>
                </div>
               


                <div class="col-6">
                    <a class="text-decoration-none text-black d-flex justify-content-between fs-5 fw-bold">
                        <span>Quyền quản lí đơn hàng</span>
                    </a>
                    <hr>
                    <div class="row">
                        <div class="form-check form-switch fs-6 col">
                            <input class="form-check-input" type="checkbox" id="EditorCheckbox1">
                            <label class="form-check-label" for="EditorCheckbox1">Xem</label>
                        </div>
                        <div class="form-check form-switch fs-6 col">
                            <input class="form-check-input" type="checkbox" id="EditorCheckbox2" checked>
                            <label class="form-check-label" for="EditorCheckbox2">Thêm</label>
                        </div>
                      

                    </div>
                    <div class="row">
                         <div class="form-check form-switch fs-6 col">
                            <input class="form-check-input" type="checkbox" id="EditorCheckbox3">
                            <label class="form-check-label" for="EditorCheckbox3">Sửa </label>
                        </div>
                        <div class="form-check form-switch fs-6 col">
                            <input class="form-check-input" type="checkbox" id="EditorCheckbox4">
                            <label class="form-check-label" for="EditorCheckbox4">Xóa</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                 <div class="col-6">
                    <a class="text-decoration-none text-black d-flex justify-content-between fs-5 fw-bold">
                        <span>Quyền quản lí tài khoản người dùng </span>
                    </a>
                    <hr>
                    <div class="row">
                        <div class="form-check form-switch fs-6 col">
                            <input class="form-check-input" type="checkbox" id="EditorCheckbox1">
                            <label class="form-check-label" for="EditorCheckbox1">Xem</label>
                        </div>
                        <div class="form-check form-switch fs-6 col">
                            <input class="form-check-input" type="checkbox" id="EditorCheckbox2" checked>
                            <label class="form-check-label" for="EditorCheckbox2">Thêm</label>
                        </div>
                      

                    </div>
                    <div class="row">
                         <div class="form-check form-switch fs-6 col">
                            <input class="form-check-input" type="checkbox" id="EditorCheckbox3">
                            <label class="form-check-label" for="EditorCheckbox3">Sửa </label>
                        </div>
                        <div class="form-check form-switch fs-6 col">
                            <input class="form-check-input" type="checkbox" id="EditorCheckbox4">
                            <label class="form-check-label" for="EditorCheckbox4">Xóa</label>
                        </div>
                    </div>
                </div>

                 <div class="col-6">
                    <a class="text-decoration-none text-black d-flex justify-content-between fs-5 fw-bold">
                        <span>Quyền quản lí doanh thu </span>
                    </a>
                    <hr>
                    <div class="row">
                        <div class="form-check form-switch fs-6 col">
                            <input class="form-check-input" type="checkbox" id="EditorCheckbox1">
                            <label class="form-check-label" for="EditorCheckbox1">Xem</label>
                        </div>
                        <div class="form-check form-switch fs-6 col">
                            <input class="form-check-input" type="checkbox" id="EditorCheckbox2" checked>
                            <label class="form-check-label" for="EditorCheckbox2">Thêm</label>
                        </div>
                      

                    </div>
                    <div class="row">
                         <div class="form-check form-switch fs-6 col">
                            <input class="form-check-input" type="checkbox" id="EditorCheckbox3">
                            <label class="form-check-label" for="EditorCheckbox3">Sửa </label>
                        </div>
                        <div class="form-check form-switch fs-6 col">
                            <input class="form-check-input" type="checkbox" id="EditorCheckbox4">
                            <label class="form-check-label" for="EditorCheckbox4">Xóa</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>




    </div>
   <div class="row mt-5">
    <div class="col text-center ">
        <!-- Đây là nơi để đặt nút lưu -->
        <button type="button" class="btn btn-primary">Lưu</button>
    </div>
</div>




</div>


<style>
    #main {
        position: absolute;
        top: 69px;
        /* Khoảng cách từ trên xuống */
        bottom: 0;
        /* Chiều cao sẽ chiếm đến cuối trang */
        left: 0;
        /* Khoảng cách từ bên trái sang */
        right: 0;
        /* Khoảng cách từ bên phải sang */
        padding-left: 10px;
        font-family: var(--bs-font-monospace);
        color: #012970;
        text-overflow: ellipsis;
        text-decoration: none;
    }
</style>
