@{
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
    ViewData["Title"] = "Admin - Orders";

}
<section id="main" style="position: absolute; ">
    <div class="row">
        <div class="col-5">
            <div class="row row-cols-3 g-2">
                <div class="col">
                    <div class="card mb-4 d-flex flex-column border-0">
                        <a>
                            <div class="image-container"
                                 style="overflow: hidden; margin-top: 10px;">
                                <img class="card-img-top img-card" src=http://localhost:4000/Image/05ce78af-723d-4104-a059-7a310b546ea2.png />
                            </div>
                        </a>
                    </div>
                    <div class="card-body flex-grow-1 d-flex flex-column">
                        <div class="row text-center mb-3">
                            <h4>Pradator</h4>

                        </div>

                        <div class="row ms-3 ms-md-5 pt-3 text-black-50">
                            <h3>
                                1388
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 d-flex flex-column border-0">
                        <a>
                            <div class="image-container"
                                 style="overflow: hidden; margin-top: 10px;">
                                <img class="card-img-top img-card" src=http://localhost:4000/Image/4bd10e79-459f-48dd-b92f-a071e5f6325c.png />
                            </div>
                        </a>
                    </div>
                    <div class="card-body flex-grow-1 d-flex flex-column">
                        <div class="row text-center mb-3">
                            <h4>Pradator</h4>

                        </div>

                        <div class="row ms-3 ms-md-5 pt-3 text-black-50">
                            <h3>
                                1388
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 d-flex flex-column border-0">
                        <a>
                            <div class="image-container"
                                 style="overflow: hidden; margin-top: 10px;">
                                <img class="card-img-top img-card" src=http://localhost:4000/Image/4bd10e79-459f-48dd-b92f-a071e5f6325c.png />
                            </div>
                        </a>
                    </div>
                    <div class="card-body flex-grow-1 d-flex flex-column">
                        <div class="row text-center mb-3">
                            <h4>Pradator</h4>

                        </div>

                        <div class="row ms-3 ms-md-5 pt-3 text-black-50">
                            <h3>
                                1388
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-3 g-2">
                <div class="col">
                    <div class="card mb-4 d-flex flex-column border-0">
                        <a>
                            <div class="image-container"
                                 style="overflow: hidden; margin-top: 10px;">
                                <img class="card-img-top img-card" src=http://localhost:4000/Image/05ce78af-723d-4104-a059-7a310b546ea2.png />
                            </div>
                        </a>
                    </div>
                    <div class="card-body flex-grow-1 d-flex flex-column">
                        <div class="row text-center mb-3">
                            <h4>Pradator</h4>

                        </div>

                        <div class="row ms-3 ms-md-5 pt-3 text-black-50">
                            <h3>
                                1388
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 d-flex flex-column border-0">
                        <a>
                            <div class="image-container"
                                 style="overflow: hidden; margin-top: 10px;">
                                <img class="card-img-top img-card" src=http://localhost:4000/Image/4bd10e79-459f-48dd-b92f-a071e5f6325c.png />
                            </div>
                        </a>
                    </div>
                    <div class="card-body flex-grow-1 d-flex flex-column">
                        <div class="row text-center mb-3">
                            <h4>Pradator</h4>

                        </div>

                        <div class="row ms-3 ms-md-5 pt-3 text-black-50">
                            <h3>
                                1388
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 d-flex flex-column border-0">
                        <a>
                            <div class="image-container"
                                 style="overflow: hidden; margin-top: 10px;">
                                <img class="card-img-top img-card" src=http://localhost:4000/Image/4bd10e79-459f-48dd-b92f-a071e5f6325c.png />
                            </div>
                        </a>
                    </div>
                    <div class="card-body flex-grow-1 d-flex flex-column">
                        <div class="row text-center mb-3">
                            <h4>Pradator</h4>

                        </div>

                        <div class="row ms-3 ms-md-5 pt-3 text-black-50">
                            <h3>
                                1388
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-3 g-2">
                <div class="col">
                    <div class="card mb-4 d-flex flex-column border-0">
                        <a>
                            <div class="image-container"
                                 style="overflow: hidden; margin-top: 10px;">
                                <img class="card-img-top img-card" src=http://localhost:4000/Image/05ce78af-723d-4104-a059-7a310b546ea2.png />
                            </div>
                        </a>
                    </div>
                    <div class="card-body flex-grow-1 d-flex flex-column">
                        <div class="row text-center mb-3">
                            <h4>Pradator</h4>

                        </div>

                        <div class="row ms-3 ms-md-5 pt-3 text-black-50">
                            <h3>
                                1388
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 d-flex flex-column border-0">
                        <a>
                            <div class="image-container"
                                 style="overflow: hidden; margin-top: 10px;">
                                <img class="card-img-top img-card" src=http://localhost:4000/Image/4bd10e79-459f-48dd-b92f-a071e5f6325c.png />
                            </div>
                        </a>
                    </div>
                    <div class="card-body flex-grow-1 d-flex flex-column">
                        <div class="row text-center mb-3">
                            <h4>Pradator</h4>

                        </div>

                        <div class="row ms-3 ms-md-5 pt-3 text-black-50">
                            <h3>
                                1388
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 d-flex flex-column border-0">
                        <a>
                            <div class="image-container"
                                 style="overflow: hidden; margin-top: 10px;">
                                <img class="card-img-top img-card" src=http://localhost:4000/Image/4bd10e79-459f-48dd-b92f-a071e5f6325c.png />
                            </div>
                        </a>
                    </div>
                    <div class="card-body flex-grow-1 d-flex flex-column">
                        <div class="row text-center mb-3">
                            <h4>Pradator</h4>

                        </div>

                        <div class="row ms-3 ms-md-5 pt-3 text-black-50">
                            <h3>
                                1388
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="row text-center text-uppercase">
                <div class="col-1">
                    X
                </div>
                <div class="col-2">
                    Pradator
                </div>
                <div class="col-2">
                    1000
                </div>
                <div class="col-1">
                    <button>-</button>
                </div>
                <div class="col-2">
                    3
                </div>
                <div class="col-1">
                    <button>+</button>
                </div>
                <div class="col">
                    3000
                </div>
            </div>
            <div class="row text-center text-uppercase">
                <div class="col-1">
                    X
                </div>
                <div class="col-2">
                    Pradator
                </div>
                <div class="col-2">
                    1000
                </div>
                <div class="col-1">
                    <button>-</button>
                </div>
                <div class="col-2">
                    3
                </div>
                <div class="col-1">
                    <button>+</button>
                </div>
                <div class="col">
                    3000
                </div>
            </div>
            <div class="row text-center text-uppercase">
                <div class="col-1">
                    X
                </div>
                <div class="col-2">
                    Pradator
                </div>
                <div class="col-2">
                    1000
                </div>
                <div class="col-1">
                    <button>-</button>
                </div>
                <div class="col-2">
                    3
                </div>
                <div class="col-1">
                    <button>+</button>
                </div>
                <div class="col">
                    3000
                </div>
            </div>
            <div class="row text-center text-uppercase">
                <div class="col-1">
                    X
                </div>
                <div class="col-2">
                    Pradator
                </div>
                <div class="col-2">
                    1000
                </div>
                <div class="col-1">
                    <button>-</button>
                </div>
                <div class="col-2">
                    3
                </div>
                <div class="col-1">
                    <button>+</button>
                </div>
                <div class="col">
                    3000
                </div>
            </div>
            <div class="row text-center text-uppercase">
                <div class="">

                </div>
            </div>
            
        </div>
    </div>

</section>

<style>
    #main {
        position: absolute;
        top: 69px;
        /* Khoảng cách từ trên xuống */
        bottom: 0;
        /* Chiều cao sẽ chiếm đến cuối trang */
        left: 0;
        /* Khoảng cách từ bên trái sang */
        right: 0;
        /* Khoảng cách từ bên phải sang */
        padding-left: 10px;
        font-family: var(--bs-font-monospace);
        color: #012970;
        text-overflow: ellipsis;
        text-decoration: none;
    }
</style>