@{
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
    ViewData["Title"] = "Admin - Settings";
}
<section class="container">
    <main class="text-center">
      This is setting page!
    </main>
   
</section>