@model Laptop
@{
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
    ViewData["Title"] = "Admin - Laptop - Create";
}
<section id="main" style="position: absolute;  margin-top:60;">
    <h3 class="text-center">Thêm sản phẩm mới</h3>
    <form asp-action="SaveProduct" asp-controller="Admin" method="post" enctype="multipart/form-data"
        class="form-inline">
        <div class="row row-cols-2 mb-2">
            <div class="col-4 col-sm-2 offset-md-2">
                <label asp-for="Name" class="mr-2">Tên Laptop:</label>

            </div>
            <div class="col">
                <input asp-for="Name" class="form-control" required>

            </div>
        </div>
        <div class="row row-cols-2 mb-2">
            <div class="col-4 col-sm-2 offset-md-2">
                <label asp-for="Price" class="mr-2">Giá:</label>

            </div>
            <div class="col">
                <input asp-for="Price" type="number" class="form-control" required>

            </div>
        </div>
        <div class="row row-cols-2 mb-2">
            <div class="col-4 col-sm-2 offset-md-2">
                <label asp-for="Quantity" class="mr-2">Số lượng kho:</label>

            </div>
            <div class="col">
                <input asp-for="Quantity" type="number" class="form-control">

            </div>
        </div>
        <div class="row row-cols-2 mb-2">
            <div class="col-4 col-sm-2 offset-md-2">
                <label asp-for="Image" class="mr-2">Ảnh:</label>

            </div>
            <div class="col">
                <input asp-for="Image" type="file" class="form-control-file" required>

            </div>
        </div>
        <div class="row row-cols-2 mb-2">
            <div class="col-4 col-sm-2 offset-md-2">
                <label asp-for="Description" class="mr-2">Mô tả</label>

            </div>
            <div class="col">
                <input asp-for="Description" class="form-control" required>

            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <button type="submit" class="btn btn-primary">Tạo mới Laptop</button>

            </div>
        </div>
    </form>
</section>