@{
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}

@model Laptop
<section class="container mb-2 pb-4">
    <form asp-action="SaveProduct" asp-controller="Admin" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name">Tên Laptop:</label>
            <input asp-for="Name" class="form-control" required>
            @* <textarea asp-for="Name" class="form-controly ckeditor"></textarea> *@
        </div>
        <div class="form-group">
            <label asp-for="Price">Giá:</label>
            <input asp-for="Price" type="number" class="form-control" required>
        </div>


        <div class="form-group">
            <label asp-for="Quantity">Số lượng kho:</label>
            <input asp-for="Quantity" type="number" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Image">Ảnh:</label>
            <input asp-for="Image" type="file" class="form-control-file" required>
        </div>
        <button type="submit" class="btn btn-primary">Tạo mới Laptop</button>
    </form>
</section>
<script>
    ClassicEditor
        .create(document.querySelector('.ckeditor'))
        .catch(error => {
            console.error(error);
        });

    ClassicEditor
        .create(document.querySelector('.ckeditor1'))
        .catch(error => {
            console.error(error);
        });

    ClassicEditor
        .create(document.querySelector('.ckeditor2'))
        .catch(error => {
            console.error(error);
        });

    ClassicEditor
        .create(document.querySelector('.ckeditor3'))
        .catch(error => {
            console.error(error);
        });

    ClassicEditor
        .create(document.querySelector('.ckeditor4'))
        .catch(error => {
            console.error(error);
        });
</script>