@{
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
    ViewData["Tilte"] = "Admin";
}
<section class="container">
    <div>
        <!-- Nội dung trang index của bạn -->
        <h2>Welcome to the Index Page</h2>
        <p>This is the content of the index page.</p>
    </div>
</section>
