@{
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
    ViewData["Title"] = "Admin - Laptop - Update";
}

@model Laptop
<section class="" id="main" style="position: absolute;">
    <h3 class="text-center">Cập nhật sản phẩm</h3>
    <form asp-action="SaveUpdate" asp-controller="Admin"  method="post" enctype="multipart/form-data" class="py-2 my-2">
        <input type="hidden" asp-for="LaptopId" value=@Model.LaptopId />
        <div class="row row-cols-2 mb-2">
            <div class="col-4 col-sm-2 offset-md-2">
                <label asp-for="Name" class="mr-2">Tên Laptop:</label>

            </div>
            <div class="col">
                <input asp-for="Name" class="form-control" required value=@Model.Name>

            </div>
        </div>
        <div class="row row-cols-2 mb-2">
            <div class="col-4 col-sm-2 offset-md-2">
                <label asp-for="Price" class="mr-2">Giá:</label>

            </div>
            <div class="col">

            <input asp-for="Price" type="number" class="form-control" required value="@Model.Price">


            </div>
        </div>
        <div class="row row-cols-2 mb-2">
            <div class="col-4 col-sm-2 offset-md-2">
                <label asp-for="Quantity" class="mr-2">Số lượng kho:</label>

            </div>
            <div class="col">
                <input asp-for="Quantity" type="number" class="form-control" value=@Model.Quantity>

            </div>
        </div>
        <div class="row row-cols-2 mb-2">
            <div class="col-4 col-sm-2 offset-md-2">
                <label asp-for="Image" class="mr-2">Ảnh:</label>

            </div>
            <div class="col">
                <input asp-for="Image" type="file" class="form-control-file" required>

            </div>
        </div>
        <div class="row row-cols-2 mb-2">
            <div class="col-4 col-sm-2 offset-md-2">
                <label asp-for="Description" class="mr-2">Mô tả</label>

            </div>
            <div class="col">
                <input asp-for="Description" class="form-control" required value=@Model.Description>

            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <button type="submit" class="btn btn-primary">Cập nhật Laptop</button>

            </div>
        </div>
    </form>
</section>

<style>
    #main {
        position: absolute;
        top: 69px;
        /* Khoảng cách từ trên xuống */
        bottom: 0;
        /* Chiều cao sẽ chiếm đến cuối trang */
        left: 0;
        /* Khoảng cách từ bên trái sang */
        right: 0;
        /* Khoảng cách từ bên phải sang */
        padding-left: 10px;
        font-family: var(--bs-font-monospace);
        color: #012970;
        text-overflow: ellipsis;
        text-decoration: none;
    }
</style>