<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Địa chỉ</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Địa chỉ: Số 123, Đường Nguyễn Văn Linh, Phường
                    Tân Thuận Đông, Quận 12, Công Viên Phần Mềm Quang Trung, TP.HCM</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+091 091 9999</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>Dreamlaptop@gmail.com</p>
                <div class="d-flex pt-2">
                    <a href="#a" class="btn btn-outline-light btn-social"><i class="fab fa-twitter"></i></a>
                    <a href="#a" class="btn btn-outline-light btn-social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#a" class="btn btn-outline-light btn-social"><i class="fab fa-youtube"></i></a>
                    <a href="#a" class="btn btn-outline-light btn-social"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Thời gian hoạt động</h4>
                <h6 class="text-light">Monday - Friday:</h6>
                <p class="mb-4">07.00 AM - 10.00 PM</p>
                <h6 class="text-light">Saturday - Sunday:</h6>
                <p class="mb-0">09.00 AM - 10.00 PM</p>
            </div>
            <div class="col-lg-3 col-md-6 ">
                <h4 class="text-light mb-4">Dịch vụ</h4>
                <a href="#a" class="btn btn-link">Kiểm tra phần cứng</a>
                <a href="#a" class="btn btn-link">Vệ sinh máy tính</a>
                <a href="#a" class="btn btn-link">Tra keo tản nhiệt cho máy</a>
                <a href="#a" class="btn btn-link">Dán màn hình</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Nhận thông báo</h4>
                <span>Để lại email của bạn để nhận thông báo mới nhất từ chúng tôi</span>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email" />
                    <button type="button"
                        class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    © <a class="border-bottom" href="#a">Dream Laptop</a>, All Right Reserved.
                    <!-- This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. -->
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">Dr.Moho</a>
                </div>
                <div class="col-md-6 text-center text-md-end">

                </div>
            </div>
        </div>
    </div>
</div>
<style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }

    .container-fluid.bg-dark.text-light.footer {
        margin-top: auto;
        padding: 0;
    }
</style>
<style>
    .card-footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        border-top: 1px solid #ddd;
    }

    .text-title a {
        text-decoration: none;
        font-weight: 900;
        font-size: 1.2em;
        line-height: 1.5;
    }

    button.card-button {
        border: #252525;
        flex: 1;
        padding: .3em;
        cursor: pointer;
        border-radius: 50px;
        transition: .3s ease-in-out;
    }

    .image-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        /* You may need to adjust this based on your design */
    }

    .image-container img {
        width: 100%;
        height: auto;
        transition: transform 0.3s;
    }

    .image-container:hover img {
        transform: scale(1.1);
    }

    .card-button:hover {
        background-color: #ffcaa6;
    }
</style>