<link rel="stylesheet" href="~/assets/css/leftbar.css" asp-append-version="true" />
<!-- ======= Sidebar ======= -->
<meta charset="utf-8" />
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-heading">Quản lý</li>

    <li class="nav-item">
      <a class="nav-link " href="/Settings/Setting">
        <i class="fa-solid fa-grip"></i>
        <span>Tổng quan</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
            <form id="myForm" asp-action="LaptopPage" asp-controller="Admin" method="post">
                <input name="page" value="1" class="d-none" />
                <input name="take" value="5" class="d-none" />
                <a id="myLink" class="nav-link collapsed">
                    <i class="fa-solid fa-layer-group"></i>
                    <span>Quản lý sản phẩm</span>
                </a>
            </form>

            <script>
                document.getElementById("myLink").addEventListener("click", function (event) {
                    event.preventDefault(); // Ngăn chặn hành vi mặc định của thẻ <a>

                    // Gửi form
                    document.getElementById("myForm").submit();
                });
            </script>
    </li>
    @* <li class="nav-item">
      <a class="nav-link collapsed" asp-action="Promotion" asp-controller="Settings">
        <i class="fa-solid fa-sliders"></i>
        <span>Promotion Manager</span>
      </a>
    </li> 
    *@
    @{
            var roleCookie = Context.Request.Cookies["Role"];
            if (roleCookie != null)
            {
                var role = roleCookie.ToString(); // Role của người dùng
                @if (role == "Xem sản phẩm")
                {
                    <li class="nav-item">Xem sản phẩm</li>
                }       // Thực hiện xử lý tương ứng với role ở đây
            }
    }


    <li class="nav-item">
      <a class="nav-link collapsed" asp-action="Category" asp-controller="Settings">
       <i class="fa-solid fa-tag"></i>
        <span>Quản lý danh mục</span>
      </a>
    </li>
    <li class="nav-item"> 
      <a class="nav-link collapsed" asp-action="OrderPage" asp-controller="Admin">
       <i class="fa-regular fa-rectangle-list"></i>
        <span>Quản lý đơn hàng</span>
      </a>
    </li>
@*     <li class="nav-item"> 
      <a class="nav-link collapsed" asp-action="Inventory" asp-controller="Settings">
        <i class="fa-solid fa-cube"></i>
        <span>Inventory Manager</span>
      </a>
    </li> *@
    <li class="nav-item">
      <a class="nav-link collapsed" asp-action="UserPage" asp-controller="Admin">
        <i class="fa-regular fa-user"></i>
        <span>Quản lý người dùng</span>
      </a>
    </li>

    @* <li class="nav-item">
      <a class="nav-link collapsed" asp-action="Ticket" asp-controller="Settings">
       <i class="fa-solid fa-ticket"></i>
        <span>Ticket Manager</span>
      </a>
    </li> *@

   @*  <li class="nav-item">
      <a class="nav-link collapsed" asp-action="Authority" asp-controller="Settings">
        <i class="fa-solid fa-sliders"></i>
        <span>Quản trị</span>
      </a>
    </li> *@
        <li class="nav-item">
            <a class="nav-link collapsed" asp-action="Authority2" asp-controller="Settings">
                <i class="fa-solid fa-sliders"></i>
                <span>Quản trị</span>
            </a>
        </li>


    <li class="nav-heading">Trang</li>

    <li class="nav-item">
      <a class="nav-link collapsed" asp-action="Profilepage" asp-controller="Html">
        <i class="bi bi-person"></i>  
        <span>Thông tin</span>
      </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" asp-action="Faqpage" asp-controller="Html">
        <i class="bi bi-question-circle"></i>
        <span>F.A.Q</span>
      </a>
    </li><!-- End F.A.Q Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" asp-action="Contactpage" asp-controller="Html">
        <i class="bi bi-envelope"></i>
        <span>Contact</span>
      </a>
    </li><!-- End Contact Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" asp-action="Errorpage" asp-controller="Html">
        <i class="bi bi-dash-circle"></i>
        <span>Error 404</span>
      </a>
    </li><!-- End Error 404 Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" asp-action="Blankpage" asp-controller="Html">
        <i class="bi bi-file-earmark"></i>
        <span>Blank</span>
      </a>
    </li><!-- End Blank Page Nav -->
  </ul>

</aside><!-- End Sidebar-->





<script>
  /**
  * Easy selector helper function
  */
  const select = (el, all = false) => {
    el = el.trim()
    if (all) {
      return [...document.querySelectorAll(el)]
    } else {
      return document.querySelector(el)
    }
  }

  /**
   * Easy event listener function
   */
  const on = (type, el, listener, all = false) => {
    if (all) {
      select(el, all).forEach(e => e.addEventListener(type, listener))
    } else {
      select(el, all).addEventListener(type, listener)
    }
  }



  /**
   * Sidebar toggle
   */
  if (select('.toggle-sidebar-btn')) {
    on('click', '.toggle-sidebar-btn', function (e) {
      select('body').classList.toggle('toggle-sidebar')
    })
  }
</script>
