<link rel="stylesheet" href="~/assets/css/leftbar.css" asp-append-version="true" />
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-heading">Manager</li>

    <li class="nav-item">
      <a class="nav-link " href="/Settings/Setting">
        <i class="fa-solid fa-grip"></i>
        <span>Analyze </span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" asp-action="LaptopPage" asp-controller="Admin">
        <i class="fa-solid fa-layer-group"></i>
        <span>Product Manager</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" asp-action="Promotion" asp-controller="Settings">
        <i class="fa-solid fa-sliders"></i>
        <span>Promotion Manager</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" asp-action="Category" asp-controller="Settings">
        <i class="fa-solid fa-sliders"></i>
        <span>Category Manager</span>
      </a>
    </li>
@*     <li class="nav-item"> 
      <a class="nav-link collapsed" asp-action="OrderPage" asp-controller="Admin">
        <i class="fa-solid fa-cube"></i>
        <span>Order Manager</span>
      </a>
    </li> *@
    <li class="nav-item"> 
      <a class="nav-link collapsed" asp-action="Inventory" asp-controller="Settings">
        <i class="fa-solid fa-cube"></i>
        <span>Inventory Manager</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" asp-action="UserPage" asp-controller="Admin">
        <i class="fa-regular fa-user"></i>
        <span>User Manager</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" asp-action="Authority" asp-controller="Settings">
        <i class="fa-solid fa-sliders"></i>
        <span>Authorrize Manager</span>
      </a>
    </li>


    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" asp-action="Profilepage" asp-controller="Html">
        <i class="bi bi-person"></i>  
        <span>Profile</span>
      </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" asp-action="Faqpage" asp-controller="Html">
        <i class="bi bi-question-circle"></i>
        <span>F.A.Q</span>
      </a>
    </li><!-- End F.A.Q Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" asp-action="Contactpage" asp-controller="Html">
        <i class="bi bi-envelope"></i>
        <span>Contact</span>
      </a>
    </li><!-- End Contact Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" asp-action="Errorpage" asp-controller="Html">
        <i class="bi bi-dash-circle"></i>
        <span>Error 404</span>
      </a>
    </li><!-- End Error 404 Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" asp-action="Blankpage" asp-controller="Html">
        <i class="bi bi-file-earmark"></i>
        <span>Blank</span>
      </a>
    </li><!-- End Blank Page Nav -->
  </ul>

</aside><!-- End Sidebar-->





<script>
  /**
  * Easy selector helper function
  */
  const select = (el, all = false) => {
    el = el.trim()
    if (all) {
      return [...document.querySelectorAll(el)]
    } else {
      return document.querySelector(el)
    }
  }

  /**
   * Easy event listener function
   */
  const on = (type, el, listener, all = false) => {
    if (all) {
      select(el, all).forEach(e => e.addEventListener(type, listener))
    } else {
      select(el, all).addEventListener(type, listener)
    }
  }



  /**
   * Sidebar toggle
   */
  if (select('.toggle-sidebar-btn')) {
    on('click', '.toggle-sidebar-btn', function (e) {
      select('body').classList.toggle('toggle-sidebar')
    })
  }
</script>
