    <form class="my-2" >
        <div class="row">
            <div class="col-8">
                <input class="form-control" type="search" id="SearchLabel" placeholder="Tìm kiếm">
            </div>
            <div class="col">
                <a class="btn btn-outline-secondary">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </div>

            <div class="col text-end">
                <a class="btn btn-outline-secondary text-uppercase" asp-action="Create" asp-controller="Admin">
                    <i class="fa-solid fa-circle-plus" style="color: #74C0FC;"></i> Thêm
                </a>
            </div>


        </div>

    </form>