<section class="container bg-light py-5 mt-5 border-bottom" style="border-top-left-radius: 60px; border-top-right-radius: 60px;">
    <div class="row">
        <ul class="nav">
            <li class="nav-item col-lg-3 col-md-6 col-6 d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <a class="nav-link fs-1" href="/Laptop">
                        <i class="fa-solid fa-gamepad fa-2x" style="color: #000000;"></i>
                    </a>
                    <span style="font-family: cursive;">Laptop Gaming</span>
                </div>
            </li>
            <li class="nav-item col-lg-3 col-md-6 col-6 d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <a class="nav-link fs-1" href="/Laptop">
                        <i class="fa-solid fa-laptop fa-2x" style="color: #000000;"></i>
                    </a>cd
                    <span style="font-family: cursive;">Laptop Văn Phòng</span>
                </div>
            </li>
            <li class="nav-item col-lg-3 col-md-6 col-6 d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <a class="nav-link fs-1" href="/Laptop">
                        <i class="fa-solid fa-laptop-code fa-2x" style="color: #000000;"></i>
                    </a>
                    <span style="font-family: cursive;">Laptop Học Tập</span>
                </div>
            </li>
            <li class="nav-item col-lg-3 col-md-6 col-6 d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <a class="nav-link fs-1" href="/Laptop">
                        <i class="fa-regular fa-hard-drive fa-2x" style="color: #000000;"></i>
                    </a>
                    <span class="" style="font-family: cursive;">Khác</span>
                </div>
            </li>
        </ul>
    </div>
</section>



<section class="container bg-dark pt-5">
    <div class="row">
        <ul class="nav d-flex justify-content-between align-items-center">
            <li class="nav-item col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center align-items-center">
                <div class="">
                    <a class="nav-link" href="#a">
                        <img class="col-12 border-0 rounded-5 img-fluid" src="./img/homesec-1.webp" alt="homesec1" />
                    </a>
                    <span class="text-white row d-flex justify-content-center align-items-center py-2" style="font-family: cursive;">
                        Chào mừng bạn đến với Dream Laptop!
                    </span>
                    <div class="d-flex justify-content-start px-5 py-3">
                        <span class="text-white py-2">
                            Tại Dream Laptop, chúng tôi cam kết mang lại trải nghiệm tốt nhất cho bạn.
                            <br />
                            <span class="text-white py-2">
                                Hãy khám phá các ưu đãi hấp dẫn từ chúng tôi.
                            </span>
                            <br />
                            <span class="text-white py-2">
                                Sở hữu laptop chính hãng với hiệu năng mạnh mẽ ngay hôm nay!
                            </span>
                        </span>
                    </div>
                    <div class="d-flex justify-content-center px-5 py-3">
                        <div class="btn bg-light border rounded-5 ">
                            <a href="/Laptop/Detail/29" class="text-decoration-none">Tìm hiểu thêm </a><i class="fa-solid fa-angles-right"></i>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center align-items-center">
                <div class="" style="font-family: cursive;">
                    <a class="nav-link" href="#a">
                        <img class="col-12 border-0 rounded-5 img-fluid" src="./img/homesec-2.webp" alt="homesec2" />
                    </a>
                    <span class="text-white row d-flex justify-content-center align-items-center py-2" style="font-family: cursive;">
                        Giảm giá hấp dẫn!
                    </span>
                    <div class="d-flex justify-content-start px-5 py-3">
                        <span class="text-white py-2">
                            Đừng bỏ lỡ cơ hội nhận phiếu giảm giá khi mua laptop tại Dream Laptop.
                            <br />
                            <span class="text-white py-2">
                                Hãy sắm ngay laptop với giá tốt và nhiều ưu đãi tại đây.
                            </span>
                            <br />
                            <span class="text-white py-2">
                                Hãy trải nghiệm sự khác biệt với chúng tôi!
                            </span>
                        </span>
                    </div>
                    <div class="d-flex justify-content-center px-5 py-3">
                        <div class="btn bg-light border rounded-5 ">
                            <a href="/Laptop/Detail/2" class="text-decoration-none">Tìm hiểu thêm </a><i class="fa-solid fa-angles-right"></i>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>