<section class="container py-5 mb-5 bg-dark" style="border-bottom-left-radius: 60px; border-bottom-right-radius: 60px;">
    <div class="d-flex justify-content-center py-5 m-5" style="font-family: cursive;">
        <h5 class="text-white">CÁC SẢN PHẨM ĐANG <span class="text-warning">HOT <i class="fa-solid fa-percent"></i></span></h5>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-10">
            <video class="rounded-5" autoplay muted loop width="100%" height="auto">
                <source src="./img/nitrovideo.mp4" type="video/mp4" />
            </video>
        </div>
    </div>

    <div class="container pt-5 mt-5 d-flex justify-content-center align-items-center">
        <div class="row mt-5">
            <div class="fs-1 text-white" style="font-family: 'Dela Gothic One';">NITRO</div>
        </div>
    </div>

    <div class="row my-5 pt-5 d-flex justify-content-around">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card mb-4 border-0 bg-dark">
                <!-- Hình ảnh sản phẩm -->
                <div class="image-container" style="height: 350px; overflow: hidden; margin-top: 10px;">
                    <img src="./img/store14.webp" alt="" class="card-img-top" />
                </div>
                <!-- Nội dung card -->
                <div class="card-body">
                    <h3 class="card-title text-center text-white-50">Nitro 16 AMD</h3>
                    <p class="card-text text-white mx-5">
                        AMD Ryzen™ 5 7640HS processor
                        <br />
                        NVIDIA® GeForce RTX™ 4050
                        <br />
                        8 GB, DDR5 SDRAM
                        <br />
                        512 GB SSD
                    </p>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button onclick="window.location.href = '/Laptop/Detail/1';" class="text-white btn btn-warning text-black d-flex align-items-center">
                    Xem thêm <i class="fa-solid fa-cart-plus ms-2"></i>
                </button>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card mb-4 border-0 bg-dark">
                <!-- Hình ảnh sản phẩm -->
                <div class="image-container" style="height: 350px; overflow: hidden; margin-top: 10px;">
                    <img src="./img/store13.webp" alt="" class="card-img-top" />
                </div>
                <!-- Nội dung card -->
                <div class="card-body">
                    <h3 class="card-title text-center text-white-50">Nitro 16 Intel</h3>
                    <p class="card-text text-white mx-5">
                        Intel® Core™ i5-13500H
                        <br />
                        NVIDIA® GeForce RTX™ 4050
                        <br />
                        8 GB, DDR5 SDRAM
                        <br />
                        512 GB SSD
                    </p>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <button onclick="window.location.href = '/Laptop/Detail/1';" class="text-white btn btn-warning text-black d-flex align-items-center">
                    Xem thêm <i class="fa-solid fa-cart-plus ms-2"></i>
                </button>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card mb-4 border-0 bg-dark">
                <!-- Hình ảnh sản phẩm -->
                <div class="image-container" style="height: 350px; overflow: hidden; margin-top: 10px;">
                    <img src="./img/store12.webp" alt="" class="card-img-top" />
                </div>
                <!-- Nội dung card -->
                <div class="card-body">
                    <h3 class="card-title text-center text-white-50">Acer Nitro 17 AMD</h3>
                    <p class="card-text text-white mx-5">
                        AMD Ryzen™ 7 7840HS
                        <br />
                        Intel® Core™ i7-13700HX
                        <br />
                        8 GB, DDR5 SDRAM
                        <br />
                        1 TB SSD
                    </p>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button onclick="window.location.href = '/Laptop/Detail/1';" class="text-white btn btn-warning text-black d-flex align-items-center">
                    Xem thêm <i class="fa-solid fa-cart-plus ms-2"></i>
                </button>
            </div>
        </div>
    </div>

<div class="d-flex justify-content-center py-5 m-5" style="font-family: cursive;">
    <h5 class="text-white">CÁC SẢN PHẨM KHÁC <span class="text-warning"> <i class="fa-solid fa-arrow-trend-up"></i></span></h5>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-12 col-md-8 col-lg-10">
        <video class="rounded-5" autoplay muted loop width="100%" height="auto">
            <source src="./img/predatorvideo.mp4" type="video/mp4">
        </video>
    </div>
</div>

<div class="container pt-5 mt-5 d-flex justify-content-center align-items-center">
    <div class="row mt-5">
        <div class="fs-1 text-white" style="font-family: 'Dela Gothic One';"> PREDATOR </div>
    </div>
</div>

<div class="row my-5 pt-5 d-flex justify-content-around">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card mb-4 border-0 bg-dark">
            <!-- Hình ảnh sản phẩm -->
            <div class="image-container" style="height: 350px; overflow: hidden; margin-top: 10px;">
                <img src="./img/store15.webp" alt="" class="card-img-top">
            </div>
            <!-- Nội dung card -->
            <div class="card-body">
                <h3 class="card-title text-center text-white-50">PREDATOR HELIOS NEO 16</h3>
                <p class="card-text text-white mx-5">
                    AMD Ryzen™ 5 7640HS processor
                    <br>
                    Intel® Core™ i7-13700HX
                    <br>
                    8 GB, DDR5 SDRAM
                    <br>
                    1 TB SSD
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-center">
                <button onclick="window.location.href = '/Laptop/Detail/1';" class="text-white btn btn-warning text-black d-flex align-items-center">
                Xem thêm <i class="fa-solid fa-cart-plus ms-2"></i>
            </button>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card mb-4 border-0 bg-dark">
            <!-- Hình ảnh sản phẩm -->
            <div class="image-container" style="height: 350px; overflow: hidden; margin-top: 10px;">
                <img src="./img/store15.webp" alt="" class="card-img-top">
            </div>
            <!-- Nội dung card -->
            <div class="card-body">
                <h3 class="card-title text-center text-white-50">PREDATOR HELIOS NEO 16</h3>
                <p class="card-text text-white mx-5">
                    Intel® Core™ i7-13700HX
                    <br>
                    NVIDIA® GeForce RTX™ 4050
                    <br>
                    16 GB, DDR5 SDRAM
                    <br>
                    512 GB SSD
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-center">
                <button onclick="window.location.href = '/Laptop/Detail/2';" class="text-white btn btn-warning text-black d-flex align-items-center">
                Xem thêm <i class="fa-solid fa-cart-plus ms-2"></i>
            </button>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card mb-4 border-0 bg-dark">
            <!-- Hình ảnh sản phẩm -->
            <div class="image-container" style="height: 350px; overflow: hidden; margin-top: 10px;">
                <img src="./img/store15.webp" alt="" class="card-img-top">
            </div>
            <!-- Nội dung card -->
            <div class="card-body">
                <h3 class="card-title text-center text-white-50">PREDATOR TRITON 17 X</h3>
                <p class="card-text text-white mx-5">
                    Intel® Core™ i9-13900HX
                    <br>
                    NVIDIA® GeForce RTX™ 4090
                    <br>
                    64 GB, DDR5 SDRAM
                    <br>
                    2 TB SSD
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-center">
                <button onclick="window.location.href = '/Laptop/Detail/3';" class="text-white btn btn-warning text-black d-flex align-items-center">
                Xem thêm <i class="fa-solid fa-cart-plus ms-2"></i>
            </button>
        </div>
    </div>
</div>








</section>
 <style>
        .card-footer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
            border-top: 1px solid #ddd;
        }

        .text-title a {
            text-decoration: none;
            font-weight: 900;
            font-size: 1.2em;
            line-height: 1.5;
        }

        button.card-button {
            border: #252525;
            flex: 1;
            padding: .3em;
            cursor: pointer;
            border-radius: 50px;
            transition: .3s ease-in-out;
        }

        .image-container {
            position: relative;
            overflow: hidden;
            width: 100%; /* You may need to adjust this based on your design */
        }

        .image-container img {
            width: 100%;
            height: auto;
            transition: transform 0.3s;
        }

        .image-container:hover img {
            transform: scale(1.1);
        }

        .card-button:hover {
            background-color: #ffcaa6;
        }
    </style>