<section class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 pt-4" style="min-height: 400px;">
                <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
                    <img class="position-absolute img-fluid w-100 h-100" src="./img/aboutus-1.webp" style="object-fit: cover;" alt="About Us" />
                    <div class="position-absolute top-0 end-0 mt-n4 me-n4 py-4 px-5" style="background: rgba(0, 0, 0, .08);">
                        <h1 class="display-4 text-white mb-0">6 <span class="fs-4">Năm</span></h1>
                        <h4 class="text-white">Kinh Nghiệm</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h6 class="text-primary text-uppercase">Giới thiệu</h6>
                <h1 class="mb-4"><span class="text-primary">Dream Laptop</span> - 6 Năm Kinh Nghiệm</h1>
                <p class="mb-4">
                    Dream Laptop là nơi bạn có thể tin tưởng để mua và chăm sóc chiếc laptop của mình. Chúng tôi đã có 6 năm kinh nghiệm trong lĩnh vực này và cam kết cung cấp cho bạn những sản phẩm và dịch vụ tốt nhất.
                </p>
                <div class="row g-4 mb-3 pb-3">
                    <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                        <div class="d-flex">
                            <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                                <span class="fw-bold text-secondary">01</span>
                            </div>
                            <div class="ps-3">
                                <h6>Chất Lượng và Hiệu Năng</h6>
                                <span>Chúng tôi cam kết cung cấp các laptop chính hãng với hiệu năng mạnh mẽ và độ tin cậy cao.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                        <div class="d-flex">
                            <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                                <span class="fw-bold text-secondary">02</span>
                            </div>
                            <div class="ps-3">
                                <h6>Ưu Đãi và Giảm Giá</h6>
                                <span>Chúng tôi luôn có giá tốt và ưu đãi hấp dẫn cho khách hàng của mình.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                        <div class="d-flex">
                            <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                                <span class="fw-bold text-secondary">06</span>
                            </div>
                            <div class="ps-3">
                                <h6>Hỗ Trợ Chuyên Nghiệp</h6>
                                <span>Đội ngũ hỗ trợ của chúng tôi luôn sẵn sàng để giúp đỡ bạn với mọi thắc mắc và vấn đề.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#section3" class="btn btn-primary py-3 px-5">Tìm hiểu thêm <i class="fa-solid fa-angles-down"></i> </a>
            </div>
        </div>
    </div>
</section>
