@model List<Cart>
@{
    ViewData["Title"] = "Cart Page";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<section class="container py-5 my-5">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr class="row text-center">
                <th class="col-2">Sản phẩm</th>
                <th class="col">Tên sản phẩm</th>
                <th class="col">Đơn giá</th>
                <th class="col">Số lượng</th>
                <th class="col">Số tiền</th>
                <th class="col">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cart in Model)
            {
                <tr class="row text-center" >
                    <td class="col-2">
                        <img class="card-img-top img-thumbnail" src="http://localhost:4000/@cart.ImgPath" />
                    </td>
                    <td class="col">@cart.Name</td>
                    <td class="col">@cart.Price</td>
                    <td class="col">@cart.Quantity</td>
                    <td class="col">@(cart.Price * cart.Quantity)</td>
                    <td class="col">
                        <button class="btn btn-primary btn-sm OrderBtn" value=@cart.Id>Đặt hàng</button>
                        <button class="btn btn-primary btn-sm deleteButton" value=@cart.Id>Xóa</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
<script>
    $(document).ready(function () {
        $('.deleteButton').click(function () {
            var id = $(this).val()

            $.ajax({
                url: '/Cart/DeleteCart/' + id,
                type: 'DELETE',
                success: function (response) {
                    alert(response);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    alert('Xóa không thành công');
                    location.reload();
                }
            });
        });
    });
    $(document).ready(function () {
        $('.OrderBtn').click(function () {
            var id = $(this).val()

            $.ajax({
                url: '/Cart/OrderCartById/' + id,
                type: 'POST',
                success: function (response) {
                    alert(response);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    alert('Đặt hàng không thành công');
                    location.reload();
                }
            });
        });
    });
</script>
